FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000
SECRET_KEY=
DATABASE_URL=postgresql://username:password@localhost/databasename

VITE_FLASK_BACKEND_URL=http://your_ip:5000
VITE_VIDEO_STREAM_URL=http://your_ip:8889